{{{template "common/header.html" .}}}

<span class="layui-breadcrumb" lay-separator="->">
  <a href="javascript:void(0)">首页</a>
  <a><cite>Agent信息</cite></a>
</span>

<table class="layui-hide" id="LAY_table_user" lay-filter="eventList"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-mini layui-btn-primary" lay-event="delete">停止</a>
    <a class="layui-btn layui-btn-mini layui-btn-primary" lay-event="sort">重启</a>

</script>

<script type="text/html" id="barDemo2">
    <a class="layui-btn layui-btn-mini layui-btn-primary" lay-event="look">查看当前扫描内容</a>

</script>

<script>
    layui.use(['element', 'table', 'form', 'laydate', 'laytpl'], function (args) {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            , url: '/agentstatus'
            , cols: [[
                {field: 'agent', title: 'agent', width: 187},
                {field: 'status', title: 'status', width: 187}
                , {fixed: 'right', width: 260, align: 'right', toolbar: '#barDemo'},
                {fixed: 'right', width: 260, align: 'right', toolbar: '#barDemo2'}
            ]]
            , id: 'eventListReload'
            , page: true
            , height: 'full-90'
            , done: function () {
                element.init();
            }
        });

        //监听工具条
        table.on('tool(eventList)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'delete') {
                layer.confirm('您确定暂停（' + data.agent + '）该服务器吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    layer.load(1)
                    $.ajax({
                        url: '/stop'
                        ,
                        data: {
                            'ip': data.agent
                        }
                        ,
                        type: 'post'
                        ,
                        success: function (data) {
                            layer.closeAll();
                            if (data.code == 1) {
                                $(".layui-laypage-btn")[0].click();
                            } else {
                            }
                            layer.msg(data.msg);
                        }
                    });
                }, function () {
                });
            }

            if (layEvent === 'look') {
                $.get('/agentiprange/' + data.agent, function (d) {
                    layer.open({
                        title: data.ip + " current run ip"
                        , content: d.data.iprange
                    });
                });
            }
        });
    });


</script>

{{{template "common/footer.html" .}}}